img {
    float: left;
    height: 25%;
    width: 25%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}